#map {
  height: 425px;
  z-index: -1;
  margin-top: -5000px;
}

/* title css */
#cuisine-me {
  color: #9155AF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* background image and font */
body {
  background-image: url(../images/graniteback.jpeg);
  background-repeat: repeat;
  font-family: 'Ubuntu', sans-serif;
}

#restaurant {
  margin-top: -7px;
}

#like {
  height: 500px;
  margin: auto;
  padding-left: 0px;
}

/* makes the dislike button 500px tall */
#dislike {
  height: 500px;
  float: left;
  padding-left: 0px;
}

/* makes the cardImage class 300px high */
.card-image {
  height: 300px;
  background-size: cover;
  background-color: #9C260B;
  z-index: -1;
}

/* makes all img 300px high */
img {
  max-height: 300px;
}

.card .card-content {
  height: 200px;
  background-color: #9C260B;
}

.card {
  z-index: -3;
}

/* changes the like and dislike buttons when the screen is below 600px wide */
@media only screen and (max-width: 600px) {

  #like,
  #dislike {
    height: 100px;
    width: 100%;
  }
}

/* changes the a tag color */
a {
  color: black;
  padding-right: 30px;
}

#favorites {
  background-color: #2BC6DA;
  z-index: -4;
  position: relative;
}

#liked-row {
  z-index: -5;

}

#liked-row .card-image {
  height: 200px;
}

#dislike {
  background-color: #CF3429;
  cursor: pointer;
}

#like {
  background-color: #48A320;
  cursor: pointer;
}

#google {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.close {
  height: 70px;
  width: 70px;
  top: 5px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
