#map {
  height: 425px;
  z-index: -1;
  margin-top: -5000px;
}

#cuisine-me {
  color: goldenrod;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url(../images/graniteback.jpeg);
  background-repeat: repeat;
}

#like {
  height: 500px;
  float: right;
}

#dislike {
  height: 500px;
  float: left;
}

@media only screen and (max-width: 600px) {

  #like,
  #dislike {
    height: 100px;
    width: 100%;
  }
}